.page__clients {
  &:not(:last-child) {
    padding: 13.8% 0px;
  }

  & .clients__items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  & .clients__item {
    flex: 0 1 16.6667%;
    text-align: center;
    padding: 8px 15px;
    min-width: 8.75rem;

    & img {
      max-width: 100%;
    }
  }
}
