.page__contact {
  background-color: #fff;
  padding: 40px 0px;
}

.contact__content {
  padding-bottom: 20px;
}

.contact__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
}

.contact__title:not(:last-child) {
  margin-bottom: 10px;
}

.contact__text {
  color: #737373;
  line-height: 142%;
}

.contact__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 58px;
  border-radius: 5px;
  padding: 5px 40px;
  color: #fff;
  background-color: #ff7b47;
  transition: background-color 0.3s ease-in-out;
}

.contact__button:hover {
  background-color: #aa5330;
}

/* MEDIA (PHONE) */

@media (min-width: 767px) {
  .contact__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .contact__content {
    padding-right: 20px;
  }
}
