.page__advantages {
  padding: 7.5%;
}

.advantages__body {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  margin: 0px -15px -30px;
}

.advantages__column {
  flex: 0 1 25%;
  padding: 0px 15px;

  & .advantages__item {
    text-align: center;
    font-weight: 700;
    padding: 30px;
    background-color: #fff;
  }

  & .advantages__icon {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 3rem;
  }

  & .advantages__value {
    font-size: 2.5rem;
    line-height: 142%;
  }

  & .advantages__text {
    font-size: 1rem;
    color: #737373;
    line-height: 150%;
    letter-spacing: 0.1px;
  }
}

/* HEADER-BLOCK */

.header-block {
  text-align: center;
  letter-spacing: 0.2px;

  & .header-block__title {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 142%;
  }

  & .header-block__sub-title {
    font-size: 0.875rem;
    color: #737373;
    line-height: 142%;
  }
}

.advantages__header-block {
  margin-bottom: 8.1%;
}

/* MEDIA (PC) */

@media (max-width: 1192px) {
  .advantages__column {
    flex: 0 1 50%;
  }
}

/* MEDIA (TABLET) */

@media (max-width: 992px) {
  .header-block__title {
    font-size: 2.1875rem;
  }
}

/* MEDIA (PHONE) */

@media (min-width: 767px) {
  .header-block__title:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .advantages__column  {
    & .advantages__value {
      font-size: 1.5625rem;
    }
  }

  .header-block {
    & .header-block__title {
      font-size: 1.5625rem;
    }
  }
}

@media (max-width: 560px) {
  .advantages__column {
    flex: 0 1 100%;
  }
}
