.page__practice {
  padding: 8.9% 0px 11.5% 0px;
}

.practice__body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 20px;

  & .practice__column {
    flex: 0 1 250px;
  }
}

.practice__header-block {
  margin-bottom: 6.4%;
}

/* ITEM-PRACTICE */

.item-practice {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  & .item-practice__content {
    flex: 1 1 auto;
    padding: 30px;
  }

  & .item-practice__title {
    font-weight: 700;
    letter-spacing: 0.1px;
    font-size: 1rem;
    line-height: 150%;
  }

  & .item-practice__text {
    line-height: 142%;
    color: #737373;
  }
}

.item-practice__link {
  display: inline-block;
  color: inherit;

  &:hover {
    color: #5f6373;
    text-decoration: underline; 
  }

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.item-practice__image {
  display: block;
  padding-bottom: 60%;

  &:hover { 
    opacity: 0.8;
  }
}

/* MEDIA (PC) */

@media (max-width: 1040px) {
  .practice__body {
    column-gap: 10px;
  }
}

@media (min-width: 1041px) {
  .practice__body {

    & .practice__column {

      &:not(:last-child) {
        padding-right: 20px;
      }
    }
  }
}

/* MEDIA (PHONE) */
@media (max-width: 767px) {
  .item-practice  {
    & .item-practice__content {
      padding: 15px;
    }
  }

  .practice__body {
    & .practice__column {
      flex: 0 1 100%;
    }
  }
}
