.page__services {
  position: relative;
  z-index: 2;
  margin-top: -6.9375rem;
}

.services__column {
  flex: 0 1 33.333%;

 & .services__item {
    height: 100%;
    background-color: #fff;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    padding: 35px;
    padding: 10.8% 10.6%;
  }

  & .item-service_green {
    background-color: #0d5c63;
  }

  & .item-service__title {
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 0.1px;
    line-height: 133%;
  }

  & .item-service__text {
    color: #737373;
    line-height: 142%;
  }

  :is(.item-service_green .item-service__title, .item-service__text) {
    color: #fff;
  }
}

/* MEDIA (TABLET) */

@media (max-width: 992px) {
  .services__column {
    flex: 0 1 50%;
  }

  .services__column:last-child {
    flex: 1 1 100%;
  }

  .services__column:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}

/* MEDIA (PHONE) */

@media (min-width: 670px) {
  .services__column {
    padding: 0px 15px;
  }

  .services__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
  }
}
