.page__subscribe {
  position: relative;
  padding-bottom: 20px;
}

.page__subscribe::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 77px;
  background-color: #252b42;
}

.subscribe__body {
  position: relative;
  z-index: 2;
  border-radius: 2px;
  padding: 30px 50px;
  background-color: #17213c;
}

.subscribe__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: #fff;
}

.subscribe__form {
  display: flex;
  align-items: center;
  flex: 0 1 50%;
}

.subscribe__input {
  width: 100%;
  flex: 1 1 auto;
  min-height: 58px;
  border-radius: 5px 0px 0px 5px;
  color: #737373;
  border: 1px solid #e6e6e6;
  border-right: 0;
  background-color: #f9f9f9;
  padding: 0px 20px;
}

.subscribe__input:focus {
  color: #000;
}

.subscribe__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  cursor: pointer;
  min-height: 58px;
  border: 1px solid #e6e6e6;
  background-color: #ff7b47;
  border-radius: 0px 5px 5px 0px;
  padding: 0px 22px;
}

/* MEDIA (PC) */

@media (min-width: 1070px) {
  .subscribe__body {
    margin: 0px 30px;
  }
}

/* MEDIA (TABLET) */

@media (min-width: 810px) {
  .subscribe__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .subscribe__title {
    max-width: 266px;
  }
}

@media (max-width: 810px) {
  .subscribe__body {
    margin: 0px -15px;
    padding: 20px 15px;
  }

  .subscribe__title {
    margin-bottom: 20px;
  }

  .subscribe__input,
  .subscribe__button {
    padding: 0px 15px;
  }
}
